**Company : Cognifront**

---

**Machine Learning Intern**

---

**Name : Neha Deo**

---

**Assignment : Import titanic.csv and perform operations.** 

**The dataset contains following columns:** 

**Survival-0 = No, 1 = Yes; Pclass = Ticket_class 1 = 1st, 2 = 2nd, 3 = 3rd; Sex = M/F; Age = Age_in_years; Sibsp = No of siblings / spouses aboard the Titanic; Parch = No of parents / children aboard the Titanic; Ticket = Ticket number; Fare = Passenger fare; Cabin = Cabin number; Embarked = Port of Embarkation(Board); C = Cherbourg, Q = Queenstown, S = Southampton**

---

**Data Preprocessing :**

**1. Removing insignificant column**

**2. Computing missing values**

**3. Treating categorical data**

**4. Scaling the data**

**Importing Libraries and Dataset**

In [1]:
import pandas as pd

df = pd.read_csv("/content/titanic.csv")

**Print First 5 Records**

In [2]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**Print Total No. of Rows and Columns**

In [3]:
df.shape

(891, 12)

**By above data observation we can say that columns such as Cabin, Name, Ticket and PassengerId are not useful feature to continue. So we will drop these columns from our dataframe.**

In [4]:
df = df.drop(["Cabin","Name","Ticket","PassengerId"],axis=1)

In [5]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

**Now check if our columns has null values or not?**

In [6]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

**Age and Embarked column has null values. So replace them with their respective Median**

In [7]:
df['Age']=df['Age'].fillna(df['Age'].median())

In [8]:
df['Embarked']=df['Embarked'].fillna(df['Embarked'].mode()[0])

In [9]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

**We have 2 categorical columns i.e. Sex and Embarked that are useful. So we will convert them into Numeric column.**

**Two ways are there to convert column from categorical to numerical. One is using .loc and and another is using Labelencoder of sklearn library.**

In [10]:
df.loc[df["Sex"] == "male", "Sex"] = 0
df.loc[df["Sex"] == "female", "Sex"] = 1

**Importing Label Encoder for Categorical Data**

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
cat_num = ['Embarked']
le = LabelEncoder()
for i in cat_num:
    df[i] = le.fit_transform(df[i])

In [13]:
df.head()

   Survived  Pclass Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3   0  22.0      1      0   7.2500         2
1         1       1   1  38.0      1      0  71.2833         0
2         1       3   1  26.0      0      0   7.9250         2
3         1       1   1  35.0      1      0  53.1000         2
4         0       3   0  35.0      0      0   8.0500         2

**Group By Survived**

In [14]:
df.groupby(['Survived']).size()

Survived
0    549
1    342
dtype: int64

**Describing DataFrame**

In [15]:
df.describe()

,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,29.361582,0.523008,0.381594,32.204208,1.536476
std,0.486592,0.836071,13.019697,1.102743,0.806057,49.693429,0.791503
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400,1.000000
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,2.000000
75%,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000,2.000000
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,2.000000