**Company : Cognifront**

---

**Machine Learning Intern**

---

**Name : Neha Deo**

---

**Case Study : Solve the KNN Algorithm using the given dataset liver_disease.csv** 

---

**Objective : In this Case Study, the target variable is Dataset. We have to split the data into training and testing parts i.e. 80% for training and 20% for testing. Note down the output of the program for the following : 
i) Accuracy, ii) Confusion Matrix, iii) Prediction Dataset for feature matrix : [16,0,0.11,0.18,120,2,18,6.8,50.3,0.1]**

---

In [ ]:
import pandas as pd
df = pd.read_csv("/content/liver_disease.csv")
df

     Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Dataset
0     65  Female              0.7  ...      3.3                        0.90        1
1     62    Male             10.9  ...      3.2                        0.74        1
2     62    Male              7.3  ...      3.3                        0.89        1
3     58    Male              1.0  ...      3.4                        1.00        1
4     72    Male              3.9  ...      2.4                        0.40        1
..   ...     ...              ...  ...      ...                         ...      ...
578   60    Male              0.5  ...      1.6                        0.37        2
579   40    Male              0.6  ...      3.2                        1.10        1
580   52    Male              0.8  ...      3.2                        1.00        1
581   31    Male              1.3  ...      3.4                        1.00        1
582   38    Male              1.0  ...      4.4                        1.50        2

[583 rows x 11 columns]

In [ ]:
df.shape

(583, 11)

In [ ]:
# Preprocess the Data :
df.isna().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [ ]:
df["Albumin_and_Globulin_Ratio"] = df["Albumin_and_Globulin_Ratio"].fillna(df["Albumin_and_Globulin_Ratio"].median())

In [ ]:
df.isna().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    0
Dataset                       0
dtype: int64

In [ ]:
df.describe

<bound method NDFrame.describe of      Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Dataset
0     65  Female              0.7  ...      3.3                        0.90        1
1     62    Male             10.9  ...      3.2                        0.74        1
2     62    Male              7.3  ...      3.3                        0.89        1
3     58    Male              1.0  ...      3.4                        1.00        1
4     72    Male              3.9  ...      2.4                        0.40        1
..   ...     ...              ...  ...      ...                         ...      ...
578   60    Male              0.5  ...      1.6                        0.37        2
579   40    Male              0.6  ...      3.2                        1.10        1
580   52    Male              0.8  ...      3.2                        1.00        1
581   31    Male              1.3  ...      3.4                        1.00        1
582   38    Male              1.0  ...      4.4                        1.50        2

[583 rows x 11 columns]>

In [ ]:
from sklearn.preprocessing import LabelEncoder
cat_num = ['Gender']
le = LabelEncoder()
for i in cat_num:
    df[i] = le.fit_transform(df[i])
df

     Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Dataset
0     65       0              0.7  ...      3.3                        0.90        1
1     62       1             10.9  ...      3.2                        0.74        1
2     62       1              7.3  ...      3.3                        0.89        1
3     58       1              1.0  ...      3.4                        1.00        1
4     72       1              3.9  ...      2.4                        0.40        1
..   ...     ...              ...  ...      ...                         ...      ...
578   60       1              0.5  ...      1.6                        0.37        2
579   40       1              0.6  ...      3.2                        1.10        1
580   52       1              0.8  ...      3.2                        1.00        1
581   31       1              1.3  ...      3.4                        1.00        1
582   38       1              1.0  ...      4.4                        1.50        2

[583 rows x 11 columns]

In [ ]:
# Split Data into Train and Test :
X = df.drop("Dataset",axis=1)
y = df["Dataset"]

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [ ]:
# Train the Model :
from sklearn.neighbors import KNeighborsClassifier
my_model = KNeighborsClassifier(n_neighbors = 5)
result = my_model.fit(X_train,y_train)

In [ ]:
# Test the Model :
predictions = result.predict(X_test)
predictions

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 2, 1, 1, 1, 2, 1, 2,
       1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 2, 2,
       1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1,
       2, 1, 1, 1, 1, 2, 1])

In [ ]:
# Measuring Accuracy :
from sklearn.metrics import accuracy_score
print("Accuracy : ", accuracy_score(y_test,predictions))

Accuracy :  0.6495726495726496

In [ ]:
from sklearn import metrics
print("Confusion Matrix : \n", metrics.confusion_matrix(y_test, predictions))

Confusion Matrix :
 [[64 14]
 [27 12]]

In [ ]:
# Deploy the Model :
pred_new=list(result.predict([[16,0,0.11,0.18,120,2,18,6.8,50.3,0.1]]))
pred_new

[1]

In [ ]:
# Prediction : [16,0,0.11,0.18,120,2,18,6.8,50.3,0.1]