**Company : Cognifront**

---

**Machine Learning Intern**

---

**Name : Neha Deo**

---

**Assignment : Import the dataset balloons.csv & perform basic operations**


**1] Print head, tail, 2] Print all columns, 3] Split data into feature and   target variables of given dataset and print feature and target variable.**

---

**Importing Library and Acquire the Data**

In [ ]:
import pandas as pd

df = pd.read_csv("/content/balloons.csv")

**Printing First 5 Records**

In [ ]:
df.head()

    color   size      act    age inflated
0  YELLOW  SMALL  STRETCH  ADULT        T
1  YELLOW  SMALL  STRETCH  ADULT        T
2  YELLOW  SMALL  STRETCH  ADULT        T
3  YELLOW  SMALL  STRETCH  ADULT        T
4  YELLOW  SMALL  STRETCH  ADULT        T

**Printing Last 5 Records**

In [ ]:
df.tail()

     color   size  act    age inflated
95  PURPLE  LARGE  DIP  CHILD        F
96  PURPLE  LARGE  DIP  CHILD        F
97  PURPLE  LARGE  DIP  CHILD        F
98  PURPLE  LARGE  DIP  CHILD        F
99  PURPLE  LARGE  DIP  CHILD        F

**Printing All Columns**

In [ ]:
df.columns

Index(['color', 'size', 'act', 'age', 'inflated'], dtype='object')

**Spliting data into Feature and Target variables of given dataset and printing Feature and Target variable.**

In [ ]:
X = df.drop('inflated',axis = 1)

y = df['inflated']

In [ ]:
X.head()

    color   size      act    age
0  YELLOW  SMALL  STRETCH  ADULT
1  YELLOW  SMALL  STRETCH  ADULT
2  YELLOW  SMALL  STRETCH  ADULT
3  YELLOW  SMALL  STRETCH  ADULT
4  YELLOW  SMALL  STRETCH  ADULT

In [ ]:
y.head()

0    T
1    T
2    T
3    T
4    T
Name: inflated, dtype: object