**Company : Cognifront**

---

**Machine Learning Intern**

---

**Name : Neha Deo**

---

**Assignment : Creating weather_data & perform basic operations**


**1] Print Dataset, 2] Print all columns, 3] Split data into feature and   target variables of given dataset and print feature and target variable.**

---

**Importing Library and Create the Dataset**

In [1]:
import pandas as pd

weather_data = [('1/1/2017', 32, 6, 'Rain'),
                ('1/2/2017', 35, 7, 'Sunny'),
                ('1/3/2017', 28, 2, 'Snow'),
                ('1/4/2017', 24, 7, 'Snow'),
                ('1/5/2017', 32, 4, 'Rain'),
                ('1/6/2017', 31, 2, 'Sunny')
               ]
               
df = pd.DataFrame(weather_data, columns=['day', 'temperature', 'windspeed', 'event'])

**Print Dataset**

In [2]:
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

**Slicing**

In [3]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

**Print Columns**

In [4]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

**Print particular column data**

In [5]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

**Print Max Temperature**

In [6]:
df['temperature'].max()

35

**Print Min Temperature**

In [7]:
df['temperature'].min()

24

**Splitting of Feature and Target Variable**

In [8]:
X = df.drop('event',axis=1)
y = df['event']

**Feature Variables**

In [9]:
X.head()

        day  temperature  windspeed
0  1/1/2017           32          6
1  1/2/2017           35          7
2  1/3/2017           28          2
3  1/4/2017           24          7
4  1/5/2017           32          4

**Target Variable**

In [10]:
y.head()

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
Name: event, dtype: object