**Company : Cognifront**

---

**Machine Learning Intern**

---

**Name : Neha Deo**

---

**Assignment : Import the dataset father_son.csv & perform the following operations :**

**1] Print First 5 records & Last 5 records, 2] Select Father column from  dataframe, 3] Find the shape of dataframe and display statistic information of  dataframe.** 

---

**Importing Library and Acquire the Data**

In [ ]:
import pandas as pd

df = pd.read_csv("/content/father_son.csv")

**Printing First 5 Records**

In [ ]:
df.head()

   Father   Son
0    65.0  59.8
1    63.3  63.2
2    65.0  63.3
3    65.8  62.8
4    61.1  64.3

**Printing Last 5 Records**

In [ ]:
df.tail()

      Father   Son
1073    67.0  70.8
1074    71.3  68.3
1075    71.8  69.3
1076    70.7  69.3
1077    70.3  67.0

**Select Father Column from Dataframe**

In [ ]:
df.Father

0       65.0
1       63.3
2       65.0
3       65.8
4       61.1
        ...
1073    67.0
1074    71.3
1075    71.8
1076    70.7
1077    70.3
Name: Father, Length: 1078, dtype: float64

**Find the Shape of Dataframe**

In [ ]:
df.shape

(1078, 2)

**Show Statistical Info of Dataframe**

In [ ]:
df.describe()

            Father          Son
count  1078.000000  1078.000000
mean     67.686827    68.684230
std       2.745827     2.816194
min      59.000000    58.500000
25%      65.800000    66.900000
50%      67.800000    68.600000
75%      69.600000    70.500000
max      75.400000    78.400000