**Company : Cognifront**

---

**Machine Learning Intern**

---

**Name : Neha Deo**

---

**Case Study : Solve the KNN Algorithm using the given dataset haberman.csv** 

---

**Objective : In this Case Study, the target variable is Status. We have to split the data into training and testing parts i.e. 80% for training and 20% for testing. Note down the output of the program for the following : 
i) Accuracy, ii) Confusion Matrix, iii) Prediction Type for feature matrix : [30,64,1]**

---

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pyp
import seaborn as sns
%matplotlib inline

In [ ]:
df = pd.read_csv("/content/haberman.csv")

df

     age  year  nodes  status
0     30    64      1       1
1     30    62      3       1
2     30    65      0       1
3     31    59      2       1
4     31    65      4       1
..   ...   ...    ...     ...
301   75    62      1       1
302   76    67      0       1
303   77    65      3       1
304   78    65      1       2
305   83    58      2       2

[306 rows x 4 columns]

In [ ]:
df.shape

(306, 4)

In [ ]:


# Preprocess the Data :
df.describe()

              age        year       nodes      status
count  306.000000  306.000000  306.000000  306.000000
mean    52.457516   62.852941    4.026144    1.264706
std     10.803452    3.249405    7.189654    0.441899
min     30.000000   58.000000    0.000000    1.000000
25%     44.000000   60.000000    0.000000    1.000000
50%     52.000000   63.000000    1.000000    1.000000
75%     60.750000   65.750000    4.000000    2.000000
max     83.000000   69.000000   52.000000    2.000000

In [ ]:
X = df.drop(['status'], axis = 1)
y = df['status']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
# Train the Model :
from sklearn.svm import SVC
my_model = SVC(kernel = 'rbf', random_state = 0)
result = my_model.fit(X_train, y_train)

In [ ]:
# Test the Model :
predictions = result.predict(X_test)
predictions

array([1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [ ]:
from sklearn import metrics
print("\n Accuracy : ", metrics.accuracy_score(y_test, predictions))

 Accuracy :  0.6129032258064516

In [ ]:
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
confusion_mat = confusion_matrix(y_test, predictions)
confusion_df = pd.DataFrame(confusion_mat, index=['Actual neg','Actual pos'], columns=['Predicted neg','Predicted pos'])
confusion_df

            Predicted neg  Predicted pos
Actual neg             35              2
Actual pos             22              3

In [ ]:
# Deploy the Model :
new_pred= list(result.predict([[30,64,1]]))
new_pred

[1]